html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
}   

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
a {
    text-decoration: none;
    color: inherit;
}

/* Navbar */
.navbar {
    width: 100%;
    height: 45px;
    float: left;
    display: block;
    margin: 0px;
    padding: 0px;
    list-style: none;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 13px;
    text-decoration: none;
    font-size: 15px;
}

li a:hover {
    background: #1E88E5;
    color: white;
    transition: 0.3s;
}

#aw-logo {
    padding: 0;
    margin: 0;
    
}

#aw-logo:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.1, 1.1);
}

#aw-logo:active {
    cursor: pointer;
    transition: 0.2s;
    transform: scale(0.9, 0.9);
}

h1 {
    font-size: 120px;
    color: white;
    display: inline-block;
} 
@media (max-width: 480px) {
    h1 {
        font-size: 50px;
    }
}

.h1-halfspace {
    font-size: 60px;
    color: white;
    display: inline-block;
} 
@media (max-width: 480px) {
    .h1-halfspace {
        font-size: 20px;
    }
}

.h3-card {
    width: 100%;
    height: 100%;
    font-size: 30px;
    text-align: center;
    padding: 37px;
    background-image: -webkit-linear-gradient(right, #0060b5, #57a6ed); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(right, #0060b5, #57a6ed); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(right, #0060b5, #57a6ed); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(right, #0060b5, #57a6ed); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to left, #0060b5, #57a6ed); /* Standard syntax; must be last */
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.h1-card {
    width: 100%;
    height: 100%;
    font-size: 50px;
    text-align: center;
    padding: 37px;
    background-image: -webkit-linear-gradient(right, #0060b5, #57a6ed); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(right, #0060b5, #57a6ed); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(right, #0060b5, #57a6ed); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(right, #0060b5, #57a6ed); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to left, #0060b5, #57a6ed); /* Standard syntax; must be last */
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
@media (max-width: 480px) {
    .h1-card {
        font-size: 30px;
    }
    .h1-card {
        font-size: 20px;
    }
}

h2 {
    font-size: 25px;
    color: #1E88E5;
    padding: 0px 10px 10px 0px;
} 

h3 {
    color: white;
    padding: 10px 0 5px 0;
}

.h4-card {
    width: 100%;
    height: 100%;
    font-size: 25px;
    text-align: center;
    background-image: -webkit-linear-gradient(right, #0060b5, #57a6ed); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(right, #0060b5, #57a6ed); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(right, #0060b5, #57a6ed); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(right, #0060b5, #57a6ed); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to left, #0060b5, #57a6ed); /* Standard syntax; must be last */
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

p {
    font-size: 15px;
}

/* Hero banner */
.hero-banner-wrapper{
    display: flex;
    background-image: linear-gradient(to right, #3a7bd5, #00d2ff);
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.hero-banner{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 0 auto; /* For IE9 */
}

.hero-banner img{
    max-width: 60em;
    height: auto;
    padding-top: 0.5em;
}

.hero-banner-intro{
    text-align: center; /* For IE9 */
    margin: 0 auto 0 auto; /* For IE9 */
    width: 80%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}

.md-btn {
    font-size: 14px;
    display: inline-block;
    height: 36px;
    min-width: 88px;
    padding: 6px 16px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border:0;
    border-radius: 2px;
    background: 0%;
    color: #fff;
    outline: solid;
    transition: 0.3s #fff;
}

.md-btn:hover {
    background: #BDBDBD;
    box-shadow: 0 4px 8px 2px rgba(0,0,0,0.2);
}

/* Main Content */
.main-content {
    width: 100%;
    margin: 0 auto;
    text-align: center; 
    padding: 30px; 
}

/* Cards */
.card-container {
    width: 65%;
    margin:0 auto;
    display: flex;
    flex-direction: row;
}

@media (min-width: 1100px) {
    .card-container {
      width: 65%;
    }
}
@media (max-width: 480px) {
    .card-container {
        width: 100%;
        flex-direction: column;
    }
}

.card {
    width: auto;
    display: inline-block;
    flex-basis: 100%;
    box-shadow: 0 4px 8px 2px rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
    text-decoration: none;
}   

.card:hover {
    box-shadow: 0 8px 16px 5px rgba(0,0,0,0.2);
    cursor: pointer;
}

img {
    border-radius: 5px 5px 0 0;
}

.blink {
    animation: blinker 1s steps(1) infinite;
    display: inline-block;
}
  
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* Hidden contact information */
#contactDetails {
    text-align: left;
}

/* Email Form */
.email-form-wrapper {
    display: flex;
    background: linear-gradient(to right, #3a7bd5, #00d2ff);
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    justify-content: center;
    align-items: center; 
}

@media (max-width: 480px) {
    .email-form-wrapper {
        text-align: center;
    }
}

.email-form {
    width: 55%;
}

@media (max-width: 480px) {
    .email-form {
        width: 90%;
    }
}

.h2-email {
    font-size: 75px;
    color: white;
    display: inline-block;
}

@media (max-width: 480px) {
    .h2-email {
        font-size: 50px;
    }
}

.form-content{
    display: flex; 
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: left;
    align-items: left; 
    color: white;
    padding: 5px;
    text-align: left;
}

input[type=text], select {
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
}

input[type=email], select {
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
}

textarea {  
    font-family: FS Me, Arial, sans-serif;
    resize: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
}

/* Footer */
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: right;
    float: left;
    display: block;
    box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    list-style: none;
}